{% extends "layout.html" %}

{% block title %}What's that? | {{ block.super }}{% endblock %}

{% block content %}
<div class="document what">
    <div class="what-block" id="what">
        <h2><a href="#what">What's that?</a></h2>

        <p>
            'That' — is my way of consuming information, keeping trends around
            while not following anyone, spending less time and defeating
            <a href="https://en.wikipedia.org/wiki/Fear_of_missing_out">FOMO</a>.
        </p>

        <p>
            The bot aggregates all information sources on a specific topic on one page,
            and our meticulously crafted collections help you quickly find new sources of information.

            The code of the bot created by <a href="https://vas3k.club">Vas3k.club</a> community.
            This is a fork and its code is <a href="https://github.com/nikilyushkin/gday">open sourced</a>.<br>
        </p>

    </div>

    <div class="what-block" id="why">
        <h2><a href="#why">Why?</a></h2>

        <p>
            <strong>You do not need to subscribe to anyone, install an app or receive notifications.</strong>
        </p>

        <p>
            Come on and read stuff when and how you want. <br><br>
        </p>

        <p>
            <strong>Most of the news is not worth reading beyond the headline.</strong>
        </p>

        <p>
            'Gday, mate' saves your time, and we have no appetite for your attention.<br><br>
        </p>

        <p>
            <strong>No algorithms in the feed, no clicks tracking, no likes analysis.</strong>
        </p>

        <p>
            Just in the good old days.
        </p>
    </div>

    <div class="what-block" id="opensource">
        <h2><a href="#opensource">I found a bug or want a feature!</a></h2>

        <p>
            The code is <a href="https://github.com/nikilyushkin/gday">open sourced</a>.<br>
        </p>
        <p>
            Send pull-requests.
        </p>
    </div>
</div>
{% endblock %}
